# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle/
.idea/inspectionProfiles/
.idea/workspace.xml
**/out
/uniclient/src/test_files/simple_root_contract.unic
.DS_Store

/universa_core/src/test_config/system/*
/universa_core/src/test_config2/system/
**/testledger
/.idea/dbnavigator.xml
